body{
    font-family: sans-serif;
    background-color: #141414;
    color: #fff;
}

.logo{
    width: 8%;
    margin-left: 5%;
    cursor: pointer;
    margin-right: 5%;

}

header{
    display: flex;
    align-items: center;
}
.more{
    display: flex;  
    
}
.topic{
    margin-left: 10px;

}
.icon{
    width: 20px;
    margin-left: 10px;
    cursor: pointer;
}

.icons{
    display: flex;
}

.topics{
    cursor: pointer;
    align-items: center;
}




.featured{
    background-image:url("photos/jojos.jpg") ;
}

.title-f{

    margin-left:5% ;
    padding-top: 10%;
}

.desc-f{
    margin: 5%;
    padding-right: 40% ;
    font-size: large;
    font-weight: 300;
}




.more-f{
    background-color: gray;
    color: #fff;
    
}

.play-f{
    background-color: #fff;
    
}

.play-f, .more-f{
    font-weight: 700;
    display: inline-flex;
    align-items: center;
    border: none;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 5%;
    margin-left: 5%;
    cursor: pointer;
}

.play, .more-info{
    width: 30px;
    padding-right: 10px;
    
}

h2{
    font-size: medium;
}

.p-tendencias{
    display: flex;
    justify-content: center;
    
}
.img-tendencias{
    width: 16%;
    display: inline;
    justify-content: center;
    margin: auto;
    
}